body {
    /* background: url('../img/1.jpg'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
     background-color: rgba(0, 0, 0, 0.2);
     min-height: 803px;
}

.left {margin-top: 50px;}
.left .small_card {background-color: rgba(0, 0, 0, 0.4); border-radius: 5px; margin: 0px 0px 15px}
.left #to_do .small_card:hover{background-color: rgba(0, 0, 0, 0.8); text-decoration: line-through; transition: all 0.2s;}

.left .small_card h4 {color: #FFFFFF; padding: 10px 15px 0px; margin: 0px}
.left .small_card p {color: #FFFFFF; padding: 0px 15px 10px; margin: 0px}
.left #to_do{min-height: 375px;}
.left #finished {margin-top: 20px;min-height: 100px;}
.left h3{color: #FFFFFF;}

.middle {margin-top: 50px;}
.middle #date {color: #FFFFFF;}
.middle .form-group label{color: #FFFFFF;}
.middle .form-group input{width: 300px;}

.right {margin-top: 50px;}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
